body {
    font-family: 'Poppins', Verdana, sans-serif;
    background-color: rgb(209, 254, 209);
}

#recipe_heading {
    display: block;
    margin: 12px auto;
    text-align: center;
    padding: 24px;
    width: 600px;
    background-color: rgb(245, 125, 119);
}

#instructions {
    display: inline-block;
    margin: 12px auto;
    padding: 12px;
    background-color: rgb(183, 183, 249);
}

.page_title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

#recipe_description {
    font-style: italic;
    font-weight: 400;
}

#button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

img {
    width: 350px;
    height: auto;
}
